body {
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #a19dbf;
}

.timer {
  position: relative;
  width: 350px;
  height: 400px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 1px;
  box-shadow: 0px 2px 5px 0px rgba(141, 150, 178, 0.3);
  font-family: sans-serif;
  background-color: #ffffff;
}

.timer__title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.timer__time {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto 10px;
}

.timer__time-block {
  display: flex;
  justify-content: center;
  width: 60px;
  font-family: sans-serif;
  font-size: 40px;
  line-height: 40px;
  padding: 5px 0;
  border: 2px solid #315efb;
  border-radius: 1px;
  cursor: default;
}

.timer__control-block {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.timer__control-block .row {
  justify-content: center;
  width: 100px;
}

.timer__control-block .row .btn {
  margin-right: 10px;
  width: 80px;
}

.timer__control-block .row .btn:last-child {
  margin-right: 0;
}

.timer__control-block .btn {
  margin-right: 0px;
  width: 80px;
}

.control-panel {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.control-panel__btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;
  width: 64px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 15px;
  transition: 0.3s;
}

.control-panel__btn:hover {
  color: #315efb;
}

.control-panel__btn:nth-child(1) {
  border: 2px solid #315efb;
  border-radius: 10px 0 0 10px;
}

.control-panel__btn:nth-child(2) {
  border-top: 2px solid #315efb;
  border-bottom: 2px solid #315efb;
}

.control-panel__btn:nth-child(3) {
  border: 2px solid #315efb;
  border-radius: 0 10px 10px 0;
}

.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;
  margin: 0px 10px 10px 10px;
  padding: 5px 10px;
  border-radius: 1px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  background: #315efb;
  transition: 0.3s;
  width: 60px;
}

.btn:hover {
  box-shadow: 0px 2px 8px 2px rgba(141, 150, 178, 0.3);
  transform: scale(1.05);
}

.message {
  display: flex;
  color: #ff3502;
  font-weight: 400;
  font-size: 18px;
  justify-content: center;
}